<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form de login</title>
</head>

<body>
    <h1>Registrar usuarios</h1>
    <form action="/sessions/register" method="post">
        First_name:
        <input type="text" name="first_name" required placeholder="Ingresa tu nombre" /><br />
        Last_name:
        <input type="text" name="last_name" required placeholder="Ingresa tu apellido" /><br />
        Email:
        <input type="text" name="email" required placeholder="Ingresa tu email" /><br />
        Age:
        <input type="number" name="age" required placeholder="Ingresa tu edad" /><br />
        Password:
        <input type="password" name="password" placeholder="Coloca una contraseña" /><br />
        <input type="submit" value="Crear" />
    </form>

    <h2>Ingresar con github</h2>
    <button onclick="location.href='/sessions/githubSignUp'">Github</button>
</body>

</html>