<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Exitosa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5 text-center">
        <h1>¡Compra Exitosa!</h1>
        <p>El ticket de compra ha sido generado y enviado por correo electrónico.</p>
        <form method="get" action="/api/products">
            <button type="submit" class="btn btn-primary">
                Volver a la página de productos
            </button>
        </form>
    </div>
</body>

</html>
